* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-500);
    background-color: var(--golden-100);
    
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.container {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
  margin-top: 0.5em;
  vertical-align: baseline;

}

a {
    text-decoration: none;
    color: var(--black-500);
   
}

main {
    width: 100%;
    padding: 0 34px;
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;   
}



@media screen and (min-width: 0) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
}