:root {
    --blue-500: #1c78f1;
    --blue-300: #7badf3;
    --blue-100: #a5c5f1;
    --black-100: #3f3e3e;
    --black-500: #0a0000;
    --white-100: #ffffff;
    --white-500: #e2d6d6;
    --golden-100: #f7d9a8;
}